@tailwind base;
@tailwind components;
@tailwind utilities;


.light-mode{
    background: #fff;
}
.dark-mode {
    background: #000;
}
.md-black-text{
    color: #000000;
}

.text-gray-100 {
    color: #000000;
}
td {
    color: #000000;
}
form input , form label  {
    background: #fff !important;
    color: #000 !important;
}
.bg-emerald-500 {
    background-color: #aea1ea;
}
a.rounded:hover {
    background-color: #6d00f1 !important;
    color: #fff;
}
button.rounded:hover {
    background-color: #6d00f1 !important;
}
button.rounded{
    background-color: #aea1ea;
}
thead{
    background-color: #aea1ea !important;
    color:#fff !important;
}
input{
    background:#fff !important;
    color: #000 !important;
}

main , p , div {
    color: #000 !important;
}
#svg {
    font-size: 50px !important;
    width: 150px !important;
    height: 150px;
}
.min-h-screen.flex.flex-col.sm\:justify-center.items-center.pt-6.sm\:pt-0.bg-gray-100.dark\:bg-gray-900 {
    background: #fff;
}
.app-brand #svg{
    width:100px !important;
}
.text-gray-200 {
    --tw-text-opacity: 1;
    color: rgb(25, 25, 26);
}
.bg-gray-950 {
    --tw-bg-opacity: 1;
    background-color: rgb(3 7 18 / var(--tw-bg-opacity));
    color: #fff !important;
}
#project_description {
    background: #fff;
}
textarea , select {
    color: #000 !important;
    background: #fff !important;
}
.hover\:bg-gray-950:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(3, 7, 18, 0.53);
    color: #fff !important;
}
.text-lg.font-medium.text-gray-900.dark\:text-gray-100 {
    color: #000;
}
.false.rounded.btn-primary.btn-xl {
    color: #fff;
    /* width: 50px; */
    padding: 10px;
}
.menu-vertical .menu-inner > .menu-item .menu-link {
    margin: 0;
}
.menu-link.text-truncate {
    line-height: 26px;
    font-size: 16px !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.text-first-large{
    text-transform: capitalize;
}
.block.text-lg.font-bold.text-gray-700.dark\:text-gray-300 {
    color: #000c;
}
.text-sm.text-red-600.dark\:text-red-400.mt-2 {
    color: red !important;
}

.text-red-600 {
    color: red !important;
}

.white {
    color: #fff;
}
.active.menu-link.text-truncate {
    color: #0b25ff;
}
tbody a {
    text-transform: capitalize;
}

main h2 {
    text-transform: capitalize;
}


.layout-page form input[type="button"] {
    text-align: left;
}
.menu-item.child-menu {
    padding-left: 15px;
}
.menu-header.small.text-uppercase {
    margin: 0;
    padding: 0 19px;
    border: 3px dotted #00000036;
    color: #000;
}
.menu-header .menu-header-text {
    color: #1675e8;
    font-size: 17px;
}
#layout-menu {
    overflow-y: scroll;
    overflow-x: hidden;
}
.form-checkbox {
    border-radius: 0px;
    background: #0000 !important;
    background-image: none !important;
    border: 1px solid !important;
    appearance: checkbox !important;
}
.form-checkbox:checked {
    background-image: unset !important;
    appearance: checkbox !important;
}
[type="checkbox"] {
    appearance: checkbox !important;
}
.box-suggestion {
    height: 150px;
    overflow-y: scroll;
}

.school-logo {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.header-info {

}

.header-info h1 {
    margin: 0px auto;
    font-size: 50px;
}

.header-info p {
    margin: 5px 0;
    display: inline;
}

.receipt-details {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    color: blue;
}

.receipt-details p span {
    color: black;
}

.receipt-info,
.student-info {
    width: 48%;
}

.profile-pic img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.receipt-info p,
.student-info p {
    margin: 5px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th,
table td {
    border: 1px solid #AEA1EA;
    padding: 8px;
    text-align: left;
}



#t-rup {
    color: brown;
}

#w-rup {
    color: rgb(77, 165, 42);
}

.fee-summary {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.summary-left p,
.payment-info p,
.received-by p {
    margin: 5px 0;
}
.recipt-fee header{
    text-align: center;
}
.w250{
    width: 100px !important;
    height: 100px !important;
}
.text-icon{
    font-size: 50px;
}
.text-belo-icon{
    font-size: 36px;
    margin-left: 10px;
    padding-left:10px;
}
.border.ft-small {
    font-size: 12px !important;

    margin: 0 auto !important;
    text-align: center;
    display: block !important;
}
.ft-smallo {
    width: 250px;
    font-size: 13px;
}
