@tailwind base;
@tailwind components;
@tailwind utilities;


.light-mode{
    background: #fff;
}
.dark-mode {
    background: #000;
}
.md-black-text{
    color: #000000;
}

.text-gray-100 {
    color: #000000;
}
td {
    color: #000000;
}
form input , form label  {
    background: #fff !important;
    color: #000 !important;
}
.bg-emerald-500 {
    background-color: #aea1ea;
}
a.rounded:hover {
    background-color: #6d00f1 !important;
    color: #fff;
}
button.rounded:hover {
    background-color: #6d00f1 !important;
}
button.rounded{
    background-color: #aea1ea;
}
thead{
    background-color: #aea1ea !important;
    color:#fff !important;
}
input{
    background:#fff !important;
    color: #000 !important;
}

main , p , div {
    color: #000 !important;
}
#svg {
    font-size: 50px !important;
    width: 150px !important;
    height: 150px;
}
.min-h-screen.flex.flex-col.sm\:justify-center.items-center.pt-6.sm\:pt-0.bg-gray-100.dark\:bg-gray-900 {
    background: #fff;
}
.app-brand #svg{
    width:100px !important;
}
.text-gray-200 {
    --tw-text-opacity: 1;
    color: rgb(25, 25, 26);
}
.bg-gray-950 {
    --tw-bg-opacity: 1;
    background-color: rgb(3 7 18 / var(--tw-bg-opacity));
    color: #fff !important;
}
#project_description {
    background: #fff;
}
textarea , select {
    color: #000 !important;
    background: #fff !important;
}
.hover\:bg-gray-950:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(3, 7, 18, 0.53);
    color: #fff !important;
}
.text-lg.font-medium.text-gray-900.dark\:text-gray-100 {
    color: #000;
}
.false.rounded.btn-primary.btn-xl {
    color: #fff;
    /* width: 50px; */
    padding: 10px;
}
.menu-vertical .menu-inner > .menu-item .menu-link {
    margin: 0;
}
.menu-link.text-truncate {
    line-height: 26px;
    font-size: 16px !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
